<h1>Article</h1>
<a class="back" href="/home">Back</a>
<section class="article-detail">
    <div class="post">
        
<% if (postId.Nationality && postId.Nationality.startsWith("I")) { %>
    <div class="flagPost">
        <img src="https://lesplusbeauxdrapeauxdumonde.com/wp-content/uploads/2016/07/italy-1460295_1280.jpg?w=620&h=395" alt="drapeau"/>
    </div>
<% } else if (postId.Nationality && postId.Nationality.startsWith("F")) { %>
    <div class="flagPost">
        <img src="https://media.cdnws.com/_i/4335/290/359/92/drapeau-france-2.png" alt="drapeau"/>
    </div>
<% } else if (postId.Nationality && postId.Nationality.startsWith("E")) { %>
    <div class="flagPost">
        <img src="https://www.shutterstock.com/image-photo/vibrant-spanish-flag-background-dynamic-600nw-2696393979.jpg" alt="drapeau"/>
    </div>
<% } %>%>
                <h2 class="post-title"><%= postId.Title %></h2>
                <p class="post-para"><%= postId.Contents %></p>
                <div class="picturePost">
                    <img src="<%= postId.Picture %>" alt="moto<%= postId.Title %>" />
                </div>
            

    
    <div class="editButton">
        <% console.log(session.isLogged) %>
        <% if(session.isLogged === true) {%>
            <a class="editArticle" href="/edit_post/<%= postId.id %>">Modifier l'article</a>
        <% } %>
        
        
    </div>

    <section class="comment-article">
        <ul>
            <%for(let i = 0; i < comment.length; i++) {%>
                <li>
                    <h3><%=comment[i].Name%></h3>
                    <p><%=comment[i].Contents%></p>
                    <p class="date-comment"><%=new Date(comment[i].CreationTimestamp).toLocaleDateString()%></p>
                </li>
            <% } %>
        </ul>
        <ul>
        </ul>

        <hr/>
    </section>

    <div class="container">
        <form action="/add_comment/<%=postId.id%>" method="post">
            			<input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="form-group">
                <label for="pseudo" class="form-label">Pseudo</label>
                <input type="text" class="form-control" name="Name" id="Name">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Commentaire</label>
                <textarea type="password" class="form-control" name="Contents" id="Contents"></textarea>
            </div>
            <input type="submit">Soumettre</input>
        </form>
    </div>


</section>    
